<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SirBor_TelegramBotEntities" connectionString="metadata=res://*/Assets.Models.Model1.csdl|res://*/Assets.Models.Model1.ssdl|res://*/Assets.Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=81.177.6.104;initial catalog=SirBor_TelegramBot;user id=is122d;password=Student1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>